@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Onsen Japan Demo Regular";
    src: url("/fonts/OnsenJapanDemoRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
